/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts and Colors */
body {
    font-family: 'Roboto', sans-serif;
    color: green;
    background-color: white;
}

